---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/?api_key=<DONT_EXPOSE_MY_DATA_PLEASE>&append_to_response=credits,reviews
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 09 Dec 2020 22:02:26 GMT
    body:
      encoding: UTF-8
      string: '{"success":false,"status_code":34,"status_message":"The resource you
        requested could not be found."}'
  recorded_at: Wed, 09 Dec 2020 22:02:26 GMT
recorded_with: VCR 6.0.0
